.not-found{
    
    background-color: red;
    color: white;
    height: 200px;
    width: 600px;
    border-radius: 4px 350px;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px auto;
    
}