.navbar-brand img{
    width: 140px;
}

.nav-right{
    margin-right: 30px;
    text-decoration: none;
}

.login{
    color: black;
    font-weight: bold;
}
.login:hover{
    color: red;
    text-decoration: none;
}

.input-form{    
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.banner h1{
    margin-bottom: 2%;
    font-size: 250%;
}
.banner{
    background-image: url('../../Image/Logo/bannerbackground.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
}

.bottom-nav a{
    margin-right: 30px;
    color: black;
    font-weight: bold;
    display: inline;
    cursor: pointer;
}
.bottom-nav a:hover{
    color: red;
    text-decoration: none;
}
.bottom-nav li:visited{
    color: red;
}
