.footer-style{
    background-color: rgb(37, 37, 37);
    height: 250px;
    padding: 40px;
    text-indent: 20px;
}

.footer-top{
    text-align: justify;
    color: white;
    display: flex;
}
.footer-top img{
    width: 150px;
    height: 60px;

}

.footer-bottom{
    color: white;
    display: flex;
    margin-top: 30px;
}

.bottom-content{
    display: flex;
}