.footer-style-copy{
    background-color: rgb(37, 37, 37);
    height: 250px;
    padding: 40px;
    text-indent: 20px;
    color: white;
    text-align: justify;
}


.footer-top img{
    width: 150px;
    height: 50px;

}

.bottom-content{
    display: flex;
}

.bottom-copy{
    margin-top: 3%;
}